<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boluo.boluoblog.dao.ArticleDao">

    <!-- 分页查看文章之前,先查询文章表中数量 -->
    <select id="selectArticleCount">
        select count(article_id)
        from article;
    </select>

    <!-- 分页查看文章 -->
    <select id="selectArticleByPage" parameterType="Integer" resultType="Article">
        select *
        from article
        limit #{start},#{rows};
    </select>


</mapper>